BUILD**
opt
**/.deps
**/.dirstamp
**/*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/cJSON/.deps/
src/cJSON/.dirstamp
src/cJSON/cJSON.o
src/slingshot-network-cfg-lldp
src/slingshot-network-cfg-lldp.o
test.c
test-driver
**/*.log
**/*.trs
test/log
